extends layout

block content
  h1= title
  p This is a service to support an Alexa app that helps manage IOT devices.

  :markdown-it
    ```
    Ask thinglist what devices do I have
    ```
    ```
    Ask thinglist about {DEVICE}
    ```
